* {
    background-color: #b0b0b032;
    color: #131313;
}

body {
    background-color: #a6dcf7;
    color: #a6dcf7;
}

p {
    background-color: #a6dcf7;
    color: #a6dcf7;
}

/** Autor: Fravelz **/
